<!DOCTYPE html>
<html>
  <head>
    <title>JMVC - Movies Example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>JMVC - Movies Example</h1>
    <div id="content">
    	<!-- -->
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/libraries/jmvc.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>