<h1>Hello, <span class="name"><%= name %></span>!</h1>
<form>
	<label for="name">Type your name here:</label><input type="text" name="name" value="" id="name">
	

	<p><input type="submit" value="Continue &rarr;"></p>
</form>
