<ul>
	<li><a href="#!/new" title="New Movie">New</a></li>
</ul>
<table>
	<colgroup>
		<col width="300">
		<col width="50">
	</colgroup>
	<thead>
		<tr>
			<th>Movie</th>
			<th>Rating</th>
		</tr>
	</thead>
</table>