<ul>
	<li><a href="#!/new" title="New Movie">New</a></li>
</ul>
<table>
	<colgroup>
		<col width="300">
		<col width="50">
	</colgroup>
	<thead>
		<tr>
			<th>Movie</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		<% for (var i = 0; i < movies.length; i ++) { %>
			<tr>
				<td><%=movies[i].title%></td>
				<td><%=movies[i].rating%></td>
			</tr>
		<% } %>
	</tbody>
</table>