<form class="new-movie">
	<label><span>Title</span><input type="text" name="title" id="title" required></label>
	<label><span>Rating</span><input type="number" name="rating" id="rating" required min="0" max="5"></label>
	<input type="submit" value="Save">
</form>